*{
    margin: 0;
    padding: 0;
    border:0;
    font-family: monospace;
    font-size: 20px;
    box-sizing: border-box;
  }
  @media screen and (max-width:960px) {
        html, body, aside, article, section, footer {
          width: 900px;
        }
        header {
          width: 1208px;
        }
        footer {
          position: absolute;
          bottom:-1150px;
        }
  }
  @media screen and (max-width:600px) {
      html, body, article, section, footer {
        width:600px
  }
  }
  @media screen and (max-width:400px) {
    html, body, article, section, footer {
      width:400px
    }
    aside {
      width: 200px;
      margin-left: 65%;
    }
  }
  html {
    height: 100%;
  }
  
  body {
    min-width:fit-content;
    min-height: 100%;
    line-height: 1;
    font-family: monospace;
  }
  
  h1, h2, p {
    font-size: 100%;
  }
  
  input, select, textarea, button {
    font-size: 100%;
    font-family: monospace;
  }
  
  ul {
    list-style: none;
  }
  