header {
    background-color:#fd5c63 ;
    color: black;
    text-align: center;
}
.profile-picture {
    width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}